.image-container {
}

.image-length {
  text-align: left;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  border: 2px solid black;
  width: 45%;
  margin: 10px;
  height: 150px;
}
